<div class='nav'>
    <div class="nav_item"><a href="/">Hjem</a></div>
    <div class="nav_item"><a href="/waffle">Vafler</a></div>
    <div class="nav_item"><a href="/cookie">Kjeks</a></div>
    <div class="nav_item"><a href="/cake">Kake</a></div>
    <div class="nav_item"><a href="/candy">Drops</a></div>
    <div class="nav_item"><a href="/about">Om oss</a></div>
</div>
