<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body>
<% include partials/navbar %>
<h1><%= Title %></h1>
<div class="content">
    <div class="post">
        <div class="picture">
            <img src="images/about.jpg">
        </div>
		<div class="text">Vi er kule. Trykk <a id="doclink" href='/docs'>her</a> for å lese teknisk dokumentasjon</div>
    </div>
</div>
<div class="fadebar"></div>
</body>
</html>
