<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body>
<% include partials/navbar %>
<h1><%= Title %></h1>
<div class="content">
    <div class="post">
        <div class="picture">
            <img src="images/vaffel.png">
        </div>
        <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras semper condimentum lorem et congue. Pellentesque est nulla, porttitor et tristique nec, pulvinar quis quam. Fusce efficitur velit id massa semper, sed porttitor nulla gravida. Aliquam congue magna vel finibus vehicula. Nulla porta consectetur nisl, id pretium quam ultricies sed. Phasellus et eleifend quam. Maecenas efficitur mauris arcu, pulvinar malesuada odio dapibus sed. Quisque pellentesque pharetra sapien, pharetra sodales leo laoreet sed. Sed efficitur, arcu a cursus volutpat, arcu erat efficitur turpis, imperdiet suscipit tellus risus vel neque. Quisque dignissim ultrices lectus, lacinia feugiat eros molestie quis. Nullam nec urna et orci sodales porta quis a magna.
        </div>
    </div>
</div>
<div class="fadebar"></div>
</body>
</html>
