<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Kaffekos</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Kreon:300" rel="stylesheet">
</head>
<body>

<div class='nav'>
    <div class="nav_item"><a href="/">Hjem</a></div>
    <div class="nav_item"><a href="/waffle">Vafler</a></div>
    <div class="nav_item"><a href="/cookie">Kjeks</a></div>
        <div class="nav_item"><a href="/cake">Kaker</a></div>
    <div class="nav_item"><a href="/candy">Godteri</a></div>
    <div class="nav_item"><a href="/about">Om oss</a></div>
</div>

<h1>Overskrift</h1>
<div class="content">


    <div class='post'>
        <div class='picture'>
            <img src="images/vaffel.png">
        </div>
        <div class='text'>
            <p>Aliquam in arcu blandit, ullamcorper lorem at, dictum purus. Proin imperdiet dolor dictum, maximus ipsum a, mattis tortor. Etiam egestas ac tellus a commodo. Curabitur id auctor lacus, vel congue libero. Praesent vel urna laoreet, posuere quam at, tincidunt ligula. Praesent eu risus vel magna consequat congue nec ut tellus. Duis feugiat magna erat, nec bibendum nulla ornare ut. Phasellus euismod porttitor efficitur.</p>
        </div>
    </div>

    <div class='post'>
        <div class='picture'>
            <img src="images/kjeks.jpg">
        </div>
        <div class='text'>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus aliquet nisl quis imperdiet. Mauris eget arcu eros. Maecenas ornare condimentum nisi, sit amet dapibus ante ornare ut. Vivamus aliquet, est et ornare tempus, enim risus ullamcorper elit, vitae ornare augue urna ac lacus. Pellentesque gravida mauris a lectus mollis ornare. Donec dapibus sapien at ullamcorper malesuada. Vestibulum lorem elit, lobortis nec ligula a, porta vehicula mauris. Nulla sagittis ipsum diam, a mattis orci vestibulum ac. Curabitur ligula ex, placerat quis libero sit amet, mattis scelerisque metus. Sed blandit mi vitae erat consectetur tempor ac id leo. Nunc dapibus ligula eget risus posuere egestas. Nulla vel enim massa. Donec facilisis lorem nisl, sed dapibus arcu mattis ac.</p>
        </div>
    </div>

    <div class='post'>
        <div class='picture'>
            <img src="images/drops.jpg">
        </div>
        <div class='text'>
            <p>Proin sollicitudin a ligula luctus hendrerit. Quisque vitae metus elementum, tincidunt ex non, rutrum sapien. Nulla erat orci, congue vitae ante in, venenatis dapibus nisl. Nulla pellentesque velit sed odio tincidunt iaculis. Maecenas sit amet tincidunt sapien. In sagittis augue enim, et iaculis sapien aliquet lobortis. Aliquam ac interdum justo. Vivamus et ultrices elit. Nam pharetra commodo tristique.</p>
        </div>
    </div>

    <div class='post'>
        <div class='picture'>
            <img src="images/kake.jpg">
        </div>
        <div class='text'>
            <p>Proin sollicitudin a ligula luctus hendrerit. Quisque vitae metus elementum, tincidunt ex non, rutrum sapien. Nulla erat orci, congue vitae ante in, venenatis dapibus nisl. Nulla pellentesque velit sed odio tincidunt iaculis. Maecenas sit amet tincidunt sapien. In sagittis augue enim, et iaculis sapien aliquet lobortis. Aliquam ac interdum justo. Vivamus et ultrices elit. Nam pharetra commodo tristique.</p>
        </div>
    </div>

</div>
<div class="fadebar"></div>
</body>
</html>
