.portions_box {
    display: flex;
}

.portions {
    display: flex;
    background-color: bisque;
    border-color: bisque;
    height: 3em;
    width: 3em;
    border-radius: 10%;
    cursor: pointer;
}

.vertical_stroke {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 2em;
    height: 0.3em;
    z-index: 2;
}

.horizontal_stroke {
    width: 0.3em;
    height: 1.6em;
    background-color: black;
    bottom: 1em;
    z-index: 1;
}


/*This code hides the little plus and minus in the box*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#portions_view {
    font-family: 'Kreon', serif;
    font-size: 1.25em;
    margin: 0 0.5em;
    width: 100%;
    text-align: center;
}