@media screen and (max-width: 1225px) {
    .post {
        margin-right: 5%;
    }
    .howto {
        margin-right: 5%;
    }
    .content {
        margin-left: 5%;
        margin-right: 15%;
    }
    .text {
        margin-left: 0;
    }
    .nav {
        top: 5px;
        right: 5px;
    }
    .picture img {
        border-radius: 25%;
        width: 10em;
    }
}

@media screen and (max-width: 1025px) {
    .post {
        flex-direction: column;
        margin-right: 0;
    }
    .howto {
        flex-direction: column;
        margin-right: 0;
    }

    .content {
        margin-right: 5%;
        margin-left: 5%;
    }

    .text {
        margin-left: 0;
    }

    .picture {
        overflow: hidden;
        height: 18em;
    }

    .picture img {
        border-radius: 0;
        width: 100%;
        margin-top: -10%;
    }

    .nav {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding: 0;
        width: 100%;
        background-color: white;
        right: 0;
        bottom: 0;
        top: 93%;
    }
    .nav_item {
        font-size: 3rem;
    }

    .fadebar {
        bottom: 7%;
        height: 10%;
    }
    .instructions {
        padding-left: 0;
    }
    #portions_view {
        width: 4em;
    }

}