@import url("responsive.css");
@import url("buttons.css");

body {
    margin: 0;
    font-family: "Amatic SC", sans-serif;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkgray;
}

.nav {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 5%;

    transition: all 0.5s ease-in;
}

.nav_item {
    margin: 0 auto;
    font-size: 2rem;
    list-style-type: none;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    margin-right: 20%;
    margin-left: 5%;
	margin-bottom: 10em;

    transition: all 0.5s linear;
}

.post {
    display: flex;
	padding: 3em 0
}
.howto {
	display: flex;
	padding: 3em 0;
}

.picture img {
    border-radius: 50%;
    width: 20em;
    transition: all 0.5s ease-in-out;
}

.text {
    font-family: Kreon, sans-serif;
    font-size: 1.5rem;
	margin-top: 1em;
	margin-left: 2em;
}

.text h3 {
    font-family: "Amatic SC", sans-serif;;
}

#doclink {
	color: red;
}

.fadebar {
	pointer-events: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
    height: 5%;
    background: -webkit-gradient(
            linear, left top, left bottom, from(rgba(255, 255, 255, 0)),
            to(rgba(255, 255, 255, 1))
    );
}

.instructions {
    padding-left: 3em;
}

.ingredients h2{
	font-size: 2em;
}
.ingredient_list {
	font-family: 'Kreon', serif;
	font-size: 1.25em;
}
.instructions h2{
	font-size: 2em;
}
.instruction_list {
	font-family: 'Kreon', serif;
	font-size: 1.25em;
    padding: 1em;
}
