body {
    margin: 0;
    font-family: "Amatic SC", sans-serif;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkgray;
}

.nav {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 5%;

    transition: all 0.5s ease-in;
}

.nav_item {
    margin: 0 auto;
    font-size: 2rem;
    list-style-type: none;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    margin-right: 20%;
    margin-left: 5%;
	margin-bottom: 10em;

    transition: all 0.5s linear;
}

.post {
    display: flex;
	padding: 3em 0
}
.howto {
	display: flex;
	padding: 3em 0;
}

.picture img {
    border-radius: 50%;
    width: 20em;
    transition: all 0.5s ease-in-out;
}

.text {
    font-family: Kreon, sans-serif;
    font-size: 1.5rem;
	margin-top: 1em;
	margin-left: 2em;
}

.text h3 {
    font-family: "Amatic SC", sans-serif;;
}

#doclink {
	color: red;
}

.fadebar {
	pointer-events: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
    height: 5%;
    background: -webkit-gradient(
            linear, left top, left bottom, from(rgba(255, 255, 255, 0)),
            to(rgba(255, 255, 255, 1))
    );
}

.instructions {
    padding-left: 3em;
}

.ingredients h2{
	font-size: 2em;
}
.ingredient_list {
	font-family: 'Kreon', serif;
	font-size: 1.25em;
}
.instructions h2{
	font-size: 2em;
}
.instruction_list {
	font-family: 'Kreon', serif;
	font-size: 1.25em;
    padding: 1em;
}

.portions_box {
    display: flex;
}

.portions {
    display: flex;
    background-color: bisque;
    border-color: bisque;
    height: 3em;
    width: 3em;
    border-radius: 10%;
    cursor: pointer;
}

.vertical_stroke {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 2em;
    height: 0.3em;
    z-index: 2;
}

.horizontal_stroke {
    width: 0.3em;
    height: 1.6em;
    background-color: black;
    bottom: 1em;
    z-index: 1;
}


/*This code hides the little plus and minus in the box*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#portions_view {
    font-family: 'Kreon', serif;
    font-size: 1.25em;
    margin: 0 0.5em;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1225px) {
    .post {
        margin-right: 5%;
    }
	.howto {
		margin-right: 5%;
	}
    .content {
        margin-left: 5%;
        margin-right: 15%;
    }
	.text {
		margin-left: 0;
	}
    .nav {
        top: 5px;
        right: 5px;
    }
    .picture img {
        border-radius: 25%;
        width: 10em;
    }
}

@media screen and (max-width: 1025px) {
    .post {
        flex-direction: column;
        margin-right: 0;
    }
	.howto {
		flex-direction: column;
		margin-right: 0;
	}

    .content {
        margin-right: 5%;
        margin-left: 5%;
    }

	.text {
		margin-left: 0;
	}

    .picture {
        overflow: hidden;
        height: 18em;
    }

    .picture img {
        border-radius: 0;
        width: 100%;
        margin-top: -10%;
    }

    .nav {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding: 0;
        width: 100%;
        background-color: white;
        right: 0;
        bottom: 0;
        top: 93%;
    }
    .nav_item {
        font-size: 3rem;
    }

    .fadebar {
        bottom: 7%;
        height: 10%;
    }
    .instructions {
        padding-left: 0;
    }
    #portions_view {
        width: 4em;
    }

}
